.form {
    display: flex;
    padding: 20px;
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__input{
    flex-basis: 100px;
    flex-grow: 1;
    overflow: hidden;
    padding: 7px;
    border: 1px solid #ddd;

}

.form__button{
    padding: 7px;
    background-color: rgb(57, 149, 149);
    color: #fff;
    margin-left: 15px;
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    .form__button {
        flex-grow: 1;
        flex-basis: 100%;
        margin: 10px 0;
    }
}

.form__button:hover {
    background-color: rgb(122, 194, 194);
}

.form__button:active{
    background-color: rgb(159, 215, 215);
}

.list__items {
    display: grid;
    grid-template-columns:  auto 1fr auto;
    text-decoration: none;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.list__button {
    width: 21px;
    height: 21px;
    border: none;
    text-decoration: none;
    background-color: rgb(22, 143, 22);
}

.list__button--done {
    background-color: rgb(22, 143, 22);
    text-decoration: none;
    border: none;
    color: #fff;
}

.list__button--delete {
    background-color: crimson;
    color: #fff;
    order: 1;
    width: 21px;
    height: 21px;
    border: none;
}