.form {
    display: flex;
    padding: 20px;
}

.form__input{
    flex-basis: 100px;
    flex-grow: 1;
    overflow: hidden;
    padding: 7px;
    border: 1px solid #ddd;

}

.form__button{
    padding: 7px;
    background-color: rgb(57, 149, 149);
    color: #fff;
    margin-left: 15px;
    border: 1px solid #ddd;
}

.form__button:hover {
    background-color: rgb(122, 194, 194);
}

.form__button:active{
    background-color: rgb(159, 215, 215);
}